.git
.gitignore
.dockerignore
.env
.env.*
!.env.example
log/
tmp/
spec/
test/
coverage/
.rspec
.rspec_status
README.md
Dockerfile
docker-compose.yml
*.md
vendor/bundle
node_modules/
public/assets
db/*.sqlite3
